.vscode
bin
*.o

# Ignore everything in the lib directory
lib/*/*
lib/*/.*
# Allow .c and .h files in the lib directory
!lib/
!lib/**/*.c
!lib/**/*.h
!lib/**/*.cpp
!lib/**/**/*.cpp
!lib/**/**/*.h